<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= appTitle %></title>
	<link rel="stylesheet" href="app/resources/main.css">
</head>
<body class="claro">
	<script>
		var dojoConfig = {
			async: true,
			baseUrl: './',
			isDebug: true,
			deps: [ 'app/main' ],
			packages: [
				{ name: 'app', location: 'app' },
				{ name: 'dgrid', location: 'dgrid' },
				{ name: 'dijit', location: 'dijit' },
				{ name: 'dojo', location: 'dojo' },
				{ name: 'dstore', location: 'dstore' },
				{ name: 'esprima', location: 'esprima', main: 'esprima' },
				{ name: 'intl', location: 'intl', main: 'Intl.complete' },
				{ name: 'intl-messageformat', location: 'intl-messageformat/dist', main: 'intl-messageformat-with-locales' },
				{ name: 'mayhem', location: 'mayhem' },
				{ name: 'messageformat', location: 'messageformat', main: 'messageformat' },
				{ name: 'put-selector', location: 'put-selector' },
				{ name: 'xstyle', location: 'xstyle' },
				{ name: 'strophe', location: 'strophe' }
			],
			tlmSiblingOfDojo: false
		};
	</script>
	<script src="dojo/dojo.js" async></script>
</body>
</html>
