@font-face {
	font-family: 'Entypo';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/entypo.woff') format('woff');
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'Entypo';
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
}

.icon-menu:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-help:before { content: '\e803'; } /* '' */
.icon-help-circled:before { content: '\e804'; } /* '' */
.icon-info:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-attention:before { content: '\e808'; } /* '' */
.icon-thumbs-down:before { content: '\e809'; } /* '' */
.icon-alert:before { content: '\e80a'; } /* '' */
.icon-lamp:before { content: '\e80b'; } /* '' */
.icon-right-open-big:before { content: '\e80c'; } /* '' */
.icon-left-open-big:before { content: '\e80d'; } /* '' */
.icon-up-open-big:before { content: '\e80e'; } /* '' */
.icon-down-open-big:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
