@font-face {
	font-family: 'Input';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/input-extralight.woff') format('woff');
}

@font-face {
	font-family: 'Input';
	font-weight: normal;
	font-style: italic;
	src: url('fonts/input-extralight-oblique.woff') format('woff');
}

@font-face {
	font-family: 'Input';
	font-weight: bold;
	font-style: normal;
	src: url('fonts/input-medium.woff') format('woff');
}

@font-face {
	font-family: 'Input';
	font-weight: bold;
	font-style: italic;
	src: url('fonts/input-medium-oblique.woff') format('woff');
}
