@font-face {
	font-family: 'Soin';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/soin-light.woff') format('woff');
}

@font-face {
	font-family: 'Soin';
	font-weight: normal;
	font-style: italic;
	src: url('fonts/soin-light-oblique.woff') format('woff');
}

@font-face {
	font-family: 'Soin';
	font-weight: bold;
	font-style: normal;
	src: url('fonts/soin-medium.woff') format('woff');
}
