@import 'nib/reset';
@import 'nib/vendor';
@import 'fonts/entypo';
@import 'fonts/soin';
@import 'fonts/input';

/*
 * vertical rhythm: 32px (~1.77rem)
 * minimum width: 320px
 * maximum width: 1440px (80rem)
 * breakpoints: 490 570 920
 */

$lh = 32px;

$backgroundColor = #FFF;
$color = #000;
$mayhemPurple = #5C2699;
$mayhemPurpleInvert = #FFF;
$mayhemOrange = #F06800;
$mayhemPink = #AA0D91;
$mayhemPinkInvert = #FFF;
$mayhemGrey = #A0A0A0;
$mayhemLightGrey = #F0F0F0;

pushout() {
	margin-left: -2rem;
	margin-right: -2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

global-reset();
reset-html5();

input,
select,
textarea {
	box-sizing: content-box;
}

html,
body {
	background-color: $backgroundColor;
	color: $color;
	font: 18px/$lh Soin, sans-serif;
}

body {
	padding-top: $lh * 3;
}

::selection {
	background-color: $mayhemPink;
	color: $mayhemPinkInvert;
}
::-moz-selection {
	background-color: $mayhemPink;
	color: $mayhemPinkInvert;
}

strong,
.bold {
	font-weight: bold;
}

em {
	font-style: italic;
}

code,
tt {
	font: 13px/1 Input, monospace;
}

abbr {
	border-bottom: 1px dotted $color;
	cursor: help;
	display: inline-block;
	line-height: 0.7em;
}

a {
	color: $mayhemPink;
	text-decoration: underline;
	transition: color 0.25s;
}

a:hover {
	color: $color;
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 80rem;
	min-width: calc(320px - 4rem);
	padding: 0 4rem;

	@media (max-width: 570px) {
		padding: 0 2rem;
	}
}

.hljs {
	.hljs-keyword { color: $mayhemPink; font-weight: bold; }
	.hljs-built_in { color: $mayhemPurple; }
	.hljs-string { color: #C41A16; }
	.hljs-comment { color: #006A00; }
}

.header {
	background-color: $mayhemPurple;
	background-image: linear-gradient(330deg, #5C2699, #A6474D 80%, #5C2699);
	color: $mayhemPurpleInvert;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	@media (max-width: 920px) {
		background-image: linear-gradient(to left, #5C2699, #A6474D);
	}

	@media (max-width: 490px) {
		background-image: none;
	}

	.search {
		background-color: $mayhemPurpleInvert;
		border-radius: 0.5em;
		cursor: text;
		float: right;
		height: $lh * 0.75;
		line-height: @height;
		margin-top: $lh * 0.25 * 0.33; // TODO: wrong formula
		padding: ($lh * 0.25 * 0.25) 4px 0 6px;

		> * {
			display: inline-block;
			line-height: normal;
			padding: ($lh * 0.25 * 0.25) 0 0;
			vertical-align: middle;
		}

		.icon-search:before {
			color: $mayhemPurple;
			margin-right: 0;
		}

		[type='text'] {
			-webkit-appearance: none;
			background: transparent;
			border: none;
			color: $mayhemPurple;
			// 'normal' line-height for inputs must be used for cross-browser consistency
			font: bold 14px/normal Soin, sans-serif;
			margin: 0;
			text-transform: uppercase;
			vertical-align: middle;
			width: 10rem;

			@media (min-width: 920px) {
				transition: width 0.2s;

				&:focus {
					width: 20rem;
				}
			}

			@media (max-width: 490px) {
				width: calc(100% - 1.3rem);
			}
		}

		@media (max-width: 490px) {
			width: calc(100% - 2rem);
		}
	}

	.icon-menu {
		color: $mayhemPurpleInvert;
		cursor: pointer;
		display: none;
		font-size: 0;
		left: 0.6rem;
		line-height: 1em;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;

		&:before {
			font-size: 1.25rem;
			padding: 0.25rem;
			margin: 0;
		}

		@media (max-width: 920px) {
			display: block;
		}

		@media (max-width: 570px) {
			left: 0.1rem;
		}

		@media (max-width: 490px) {
			left: 1.5rem;
		}
	}

	.title {
		display: inline-block;
		line-height: 1;
		text-transform: uppercase;
		vertical-align: bottom;

		@media (max-width: 490px) {
			display: block;
			height: $lh * 2;
			line-height: $lh * 1.75;
			text-align: center;
		}
	}
}

.nav {
	float: left;
	max-width: 12rem;
	position: -webkit-sticky;
	position: sticky;
	top: $lh * 2;

	.no-sticky & {
		position: fixed;
		top: $lh * 3;
	}

	a {
		color: $mayhemGrey;
		display: block;
		line-height: $lh * 0.5;
		margin-bottom: 0;
		padding-top: $lh * 0.5;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.25s;

		&:hover {
			color: $mayhemPurple;
			text-decoration: underline;
		}
	}

	> ul > .active {
		margin-bottom: $lh * 0.5;

		a {
			font-weight: bold;
			color: $mayhemPurple;

			&:hover {
				color: $color;
			}
		}

		.subsections {
			display: block;

			a {
				font-weight: normal;
			}
		}
	}

	.subsections {
		display: none;

		a {
			text-transform: none;
		}

		.active a {
			text-indent: -1rem;

			* {
				text-indent: 0;
			}

			&:before {
				@extend [class^='icon-']:before, [class*=' icon-']:before;
				@extend .icon-right-open:before;
				line-height: 0;
				margin-right: 0;
				text-decoration: none;
			}
		}
	}

	.support {
		margin-top: $lh;

		a {
			text-indent: -1rem;

			&:hover {
				color: $mayhemOrange;
			}

			* {
				text-indent: 0;
			}

			&:before {
				@extend [class^='icon-']:before, [class*=' icon-']:before;
				@extend .icon-lifebuoy:before;

				color: inherit;
				line-height: inherit;
				margin-right: 0;
				text-decoration: none;
			}
		}
	}

	@media (max-width: 920px) {
		background-color: $backgroundColor;
		bottom: 0;
		display: none;
		left: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding: $lh 2rem;
		position: fixed;
		top: $lh;

		.no-sticky & {
			top: $lh;
		}

		&.open {
			display: block;
		}
	}

	@media (max-width: 490px) {
		max-width: none;
		right: 0;
		top: $lh * 2;

		.no-sticky & {
			top: $lh * 2;
		}
	}
}

.main {
	margin-left: 16rem;

	@media (max-width: 920px) {
		margin-left: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	pre,
	ol,
	ul,
	figure {
		margin-bottom: $lh;
	}

	h2 {
		padding-top: $lh * 0.25;
		margin-bottom: $lh * 2 - $lh * 0.25;
		text-transform: uppercase;
	}

	h3 {
		font-size: 1.25rem;
		margin-bottom: $lh * -0.25;
		padding-top: $lh * 0.25;

		+ p:first-line {
			font-style: italic;
		}
	}

	h4 {
		font-size: 1.1rem;
		font-weight: bold;
		margin-bottom: $lh * -0.25;
		padding-top: $lh * 0.25;
	}

	p,
	ul,
	ol,
	table {
		padding-top: $lh * 0.25;
		margin-bottom: $lh * 0.75;
	}

	p {
		text-align: justify;
		text-align-last: left;
	}

	pre {
		line-height: $lh * 0.625; // 8 lines / rhythm
		margin-bottom: $lh * 0.4375;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding-top: $lh * 0.4375;
		tab-size: 2;
	}

	ul > li {
		text-align: justify;
		text-align-last: left;
		text-indent: -1rem;

		* {
			text-indent: 0;
		}

		&:before {
			@extend [class^='icon-']:before, [class*=' icon-']:before;
			@extend .icon-right-open:before;
			margin-right: 0;
		}
	}

	ol > li {
		list-style: numeric;
	}

	table {
		pushout();
		padding-left: 0;
		padding-right: 0;

		tr:nth-child(2n) {
			background-color: $mayhemLightGrey;
		}

		td {
			padding-left: 1rem;

			&:first-child {
				padding-left: 2rem;
			}

			&:last-child {
				padding-right: 2rem;
			}
		}
	}

	figcaption {
		font-style: italic;

		code {
			font-style: italic;
		}
	}

	figure {
		pushout();

		margin-bottom: $lh * 1.625;
		padding-top: $lh * 0.9375;

		pre {
			padding-top: 0;
			margin-bottom: $lh;
		}

		figcaption {
			pushout();

			border-left: 6px solid $mayhemPink;
			padding-bottom: $lh * 0.1250;
			padding-left: calc(2rem - 6px);
			padding-top: $lh * 0.1875;
		}
	}
}

.tip,
.deprecated,
.whatAreYouCrazy {
	pushout();

	border-left: 6px solid $mayhemPurple;
	padding-left: calc(2rem - 6px);

	:first-child {
		text-indent: -1rem;

		* {
			text-indent: 0;
		}

		&:before {
			@extend [class^='icon-']:before, [class*=' icon-']:before;

			color: $mayhemPurple;
			font-size: 1rem;
			margin-right: 0;
			padding: 0 0.05rem 0 0.45rem;
			width: 0.5rem;
		}
	}
}

.tip {
	:first-child:before {
		@extend .icon-lamp:before;
	}
}

.deprecated {
	border-left-color: $mayhemGrey;

	:first-child:before {
		@extend .icon-thumbs-down:before;
		color: $mayhemGrey;
	}
}

.whatAreYouCrazy {
	border-left-color: $mayhemOrange;

	:first-child:before {
		@extend .icon-alert:before;
		color: $mayhemOrange;
	}
}
