<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mayhem TodoMVC</title>
		<link rel="stylesheet" href="mayhem/third-party/dijit/themes/claro/claro.css">
		<style>.completed { text-decoration: line-through; }</style>
	</head>
	<body class="claro">
		<script>
var dojoConfig = {
	async: true,
	baseUrl: './',
	deps: [ 'app/main' ],
	packages: [
		{ name: 'app', location: 'app' },
		{ name: 'dojo', location: 'mayhem/third-party/dojo' },
		{ name: 'dijit', location: 'mayhem/third-party/dijit' },
		{ name: 'mayhem', location: 'mayhem' },
		{ name: 'dstore', location: 'mayhem/third-party/dstore' },
		{ name: 'dgrid', location: 'mayhem/third-party/dgrid' },
		{ name: 'put-selector', location: 'mayhem/third-party/put-selector' },
		{ name: 'xstyle', location: 'mayhem/third-party/xstyle' }
	],
	tlmSiblingOfDojo: false
};
		</script>
		<script src="mayhem/third-party/dojo/dojo.js" async></script>
	</body>
</html>
